.slack-message {
  display: flex;
  flex-direction: row;
  padding: 4px;
  padding-right: 20px;
  font-size: 15px;
}
.slack-message:hover {
  background-color: #f9f9f9;
}

.slack-message__aside {
  min-width: 72px;
  padding-left: 26px;
}
.slack-message__aside .time {
  visibility: hidden;
}
.slack-message:hover .slack-message__aside .time {
  visibility: visible;
}

.slack-message__headline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.slack-message__headline > * + * {
  margin-left: 8px;
}
