@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900,900i');

.slack-root, .slack-root .sk-layout {
  background-color: #f4f4f4;

  font-family: 'Lato', sans-serif;
  font-variant-ligatures: common-ligatures;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.slack-root * {
  box-sizing: border-box;
}

a {
  color: #0576B9;
  text-decoration: none;
}
a:hover {
  color: #005E99;
  text-decoration: underline;
}

.sk-hits {
  margin-left: 15px;
}

.slack-channel {
  font-weight: bold;
}
.slack-channel a {
  color: #333;
  text-decoration: none;
}
.slack-channel a:hover {
  text-decoration: underline;
}

.slack-user {
  font-weight: 900;
}
.slack-user a {
  text-decoration: none;
  color: #2c2d30;
}
.slack-user a:hover {
  text-decoration: underline;
}

.slack-archive {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.slack-archive-page-title {
  font-size: 40px;
  line-height: 48px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.slack-archive-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slack-archive-date a {
  color: #666;
}
.slack-archive-date a:hover {
  text-decoration: none;
  color: #333;
}

.slack-archive-messages {
  background-color: white;
  border: 1px solid #e8e8e8;
  padding-bottom: 40px;
}


.slack-upic img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.time a {
  font-size: 12px;
  line-height: 1.35em;
  color: #717274;
  text-decoration: none;
}

.time a:hover {
  text-decoration: underline;
}

.no-hide-fix .is-disabled {
  display: block !important;
}
