@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900,900i');

.slack-archive-page-title {
  font-size: 40px;
  line-height: 48px;
  color: #666;
  text-align: center;
  margin-bottom: 30px;
}

.time a {
  font-size: 12px;
  line-height: 1.35em;
  color: #717274;
  text-decoration: none;
}

.time a:hover {
  text-decoration: underline;
}
